body {
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
h2,h4 {
    margin: 4px 0px;
}
#calculate {
    background-color: #eef2eb;
    width: 300px;
    padding: 4px 8px;
    margin: 4px 0px;
    font-size: 16px;
}
input {
    padding: 4px;
    margin: 4px 0px;
    font-size: 16px;
    border-radius: 4px;
}
#my_select {
    width: 100px;
    padding: 4px;
    margin: 6px 0px;
    font-size: 16px;
}
button {
    background-color: royalblue;

    border-radius: 4px;
    color: white;
    padding: 10px 24px;
    margin: 6px 0px;
    font-size: 16px;
}
#result {
    background-color:#c2d6ed;
    width: 300px;
    padding: 4px 8px 12px;
}
#display_value, #display_message {
    border: none;
    color: black;
    font-weight: bold;
}